* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* CSS VARIABLES */

:root {
  --primary-color: #eeeeee;
  --secondary-color: #ffffff;
  --third-color: #313131;
  --big-text-color: #000000;
  --small-text-color: #313131;
  --white-text-color: #ffffff;
}

/* GENERAL CODES FOR CSS COMMON ITEMS */

body {
  background-color: var(--primary-color);
}

li {
  list-style: none;
}

/* this is the navigation bar section that I have added */

.nav-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.logo {
  width: 200px;
  height: 200px;
}

.logo > img {
  width: 200px;
}

.menu-links {
  display: flex;
  width: 100vw;
}
.links {
  width: 100vw;
  display: flex;
  justify-content: space-around;
}

a {
  text-decoration: none;
  color: var(--big-text-color);
  text-align: center;
}

/* this is the main section where the gallery is  */

.gallery {
  margin-top: 50px;
}

.grid-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.grid-item {
  width: 80vw;
}

/* css codes for the booking part of the website 
with the pictures and other information  */

.booking {
  width: 100vw;
  background-color: #fff;
  margin-bottom: 50px;
  padding: 0 0 70px;
}

/* booking navbar */

.booking-tabs {
  display: flex;
  width: 100vw;
  justify-content: space-evenly;
  gap: 0;
  background-color: var(--secondary-color);
}

.tabs {
  text-align: center;
  padding: 20px;
  width: 33.333%;
  font-size: 10px;
}

.tabs:hover {
  background-color: var(--primary-color);
}

/* booking info */

.ch-appoint {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flyer-img {
  width: 80vw;
  margin: 10px 0 40px;
  box-shadow: 10px 10px 20px #00000050;
}

/* THIS IS FOR THE BOOKING CATEGORY */

.booking-category {
  display: flex;
  flex-direction: column;
  gap: 80px;
  justify-content: center;
}

.booking-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  gap: 40px;
  padding: 5% 10% 5%;
  justify-content: space-evenly;
  background-color: var(--primary-color);
  box-shadow: 10px 10px 20px #00000050;
}

.booking-card-img {
  width: 100%;
}

/* BOOKING CARD TEXT AREA */

.text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}

.text-box > div > h3 {
  text-transform: uppercase;
}

.text-box > div > p {
  font-size: 14px;
}

.buttons {
  background-color: var(--third-color);
  padding: 20px 60px;
  color: var(--white-text-color);
  border-radius: 15px;
}

/* THIS IS FOR THE FOOTER CSS CODES  */

footer {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-around;
  gap: 30px;
  margin: 30px 10px 10px;
}

.logo-bottom > img {
  width: 80px;
}

.footer-text {
  font-size: 10px;
  color: var(--small-text-color);
}
